/**
 * Ebrook
 *
 * @category    Ebrook
 * @package     AnyPlaceMedia_SendSMS
 * @copyright   Copyright © 2021 Ebrook co., ltd. (https://www.ebrook.com.tw)
 * @source https://github.com/sendSMS-RO/sendsms-magento2.4
 */

.sendsms-button {
    float: right;
    margin: 0.5em;
}

.sendsms-button>span {
    font-size: 1.25em;
}