<?xml version="1.0"?>
<!--
/**
 * Ebrook
 *
 * @category    Ebrook
 * @package     AnyPlaceMedia_SendSMS
 * @copyright   Copyright © 2021 Ebrook co., ltd. (https://www.ebrook.com.tw)
 * @source https://github.com/sendSMS-RO/sendsms-magento2.4
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="AnyPlaceMedia\SendSMS\Model\ResourceModel\History\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">sendsms_history</argument>
            <argument name="resourceModel" xsi:type="string">AnyPlaceMedia\SendSMS\Model\ResourceModel\History</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="sendsms_history_grid_data_source" xsi:type="string">AnyPlaceMedia\SendSMS\Model\ResourceModel\History\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="AnyPlaceMedia\SendSMS\Model\Logger" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/ro-send-sms.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="AnyPlaceMedia\SendSMS\Model\Request\Logger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">AnyPlaceMedia\SendSMS\Model\Logger</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="AnyPlaceMedia\SendSMS\Helper\SendSMS">
        <arguments>
            <argument name="logger" xsi:type="object">AnyPlaceMedia\SendSMS\Model\Request\Logger</argument>
        </arguments>
    </type>
    <type name="AnyPlaceMedia\SendSMS\Plugin\Entity\OrderSMSSender">
        <arguments>
            <argument name="logger" xsi:type="object">AnyPlaceMedia\SendSMS\Model\Request\Logger</argument>
            <argument name="type" xsi:type="const">\AnyPlaceMedia\SendSMS\Helper\SendSMS::TYPE_ORDER</argument>
        </arguments>
    </type>
    <type name="AnyPlaceMedia\SendSMS\Plugin\Entity\ShipmentSMSSender">
        <arguments>
            <argument name="logger" xsi:type="object">AnyPlaceMedia\SendSMS\Model\Request\Logger</argument>
            <argument name="type" xsi:type="const">\AnyPlaceMedia\SendSMS\Helper\SendSMS::TYPE_SHIPMENT</argument>
        </arguments>
    </type>
    <type name="AnyPlaceMedia\SendSMS\Plugin\Entity\InvoiceSMSSender">
        <arguments>
            <argument name="logger" xsi:type="object">AnyPlaceMedia\SendSMS\Model\Request\Logger</argument>
            <argument name="type" xsi:type="const">\AnyPlaceMedia\SendSMS\Helper\SendSMS::TYPE_INVOICE</argument>
        </arguments>
    </type>
    <type name="AnyPlaceMedia\SendSMS\Plugin\Entity\CreditmemoSMSSender">
        <arguments>
            <argument name="logger" xsi:type="object">AnyPlaceMedia\SendSMS\Model\Request\Logger</argument>
            <argument name="type" xsi:type="const">\AnyPlaceMedia\SendSMS\Helper\SendSMS::TYPE_CREDITMEMO</argument>
        </arguments>
    </type>
    <type name="AnyPlaceMedia\SendSMS\Plugin\Comment\OrderCommentSMSSender">
        <arguments>
            <argument name="logger" xsi:type="object">AnyPlaceMedia\SendSMS\Model\Request\Logger</argument>
            <argument name="type" xsi:type="const">\AnyPlaceMedia\SendSMS\Helper\SendSMS::TYPE_ORDER_COMMENT</argument>
        </arguments>
    </type>
    <type name="AnyPlaceMedia\SendSMS\Plugin\Comment\ShipmentCommentSMSSender">
        <arguments>
            <argument name="logger" xsi:type="object">AnyPlaceMedia\SendSMS\Model\Request\Logger</argument>
            <argument name="type" xsi:type="const">\AnyPlaceMedia\SendSMS\Helper\SendSMS::TYPE_SHIPMENT_COMMENT</argument>
        </arguments>
    </type>
    <type name="AnyPlaceMedia\SendSMS\Plugin\Comment\InvoiceCommentSMSSender">
        <arguments>
            <argument name="logger" xsi:type="object">AnyPlaceMedia\SendSMS\Model\Request\Logger</argument>
            <argument name="type" xsi:type="const">\AnyPlaceMedia\SendSMS\Helper\SendSMS::TYPE_INVOICE_COMMENT</argument>
        </arguments>
    </type>
    <type name="AnyPlaceMedia\SendSMS\Plugin\Comment\CreditmemoCommentSMSSender">
        <arguments>
            <argument name="logger" xsi:type="object">AnyPlaceMedia\SendSMS\Model\Request\Logger</argument>
            <argument name="type" xsi:type="const">\AnyPlaceMedia\SendSMS\Helper\SendSMS::TYPE_CREDITMEMO_COMMENT</argument>
        </arguments>
    </type>
    <!-- @deprecated -->
    <type name="Magento\Sales\Model\Order\Email\Sender\ShipmentSender">
        <plugin name="AnyPlaceMedia_SendSMS::send_sms" type="AnyPlaceMedia\SendSMS\Plugin\Entity\ShipmentSMSSender" sortOrder="10"/>
    </type>
    <type name="Magento\Sales\Model\Order\Shipment\Sender\EmailSender">
        <plugin name="AnyPlaceMedia_SendSMS::send_sms" type="AnyPlaceMedia\SendSMS\Plugin\Entity\ShipmentSMSSender" sortOrder="10"/>
    </type>
    <type name="Magento\Sales\Model\Order\Email\Sender\ShipmentCommentSender">
        <plugin name="AnyPlaceMedia_SendSMS::send_sms" type="AnyPlaceMedia\SendSMS\Plugin\Comment\ShipmentCommentSMSSender" sortOrder="10"/>
    </type>
    <type name="Magento\Sales\Model\Order\Email\Sender\OrderSender">
        <plugin name="AnyPlaceMedia_SendSMS::send_sms" type="AnyPlaceMedia\SendSMS\Plugin\Entity\OrderSMSSender" sortOrder="10"/>
    </type>
    <type name="Magento\Sales\Model\Order\Email\Sender\OrderCommentSender">
        <plugin name="AnyPlaceMedia_SendSMS::send_sms" type="AnyPlaceMedia\SendSMS\Plugin\Comment\OrderCommentSMSSender" sortOrder="10"/>
    </type>
    <type name="Magento\Sales\Model\Order\Email\Sender\InvoiceSender">
        <plugin name="AnyPlaceMedia_SendSMS::send_sms" type="AnyPlaceMedia\SendSMS\Plugin\Entity\InvoiceSMSSender" sortOrder="10"/>
    </type>
    <type name="Magento\Sales\Model\Order\Email\Sender\InvoiceCommentSender">
        <plugin name="AnyPlaceMedia_SendSMS::send_sms" type="AnyPlaceMedia\SendSMS\Plugin\Comment\InvoiceCommentSMSSender" sortOrder="10"/>
    </type>
    <type name="Magento\Sales\Model\Order\Email\Sender\CreditmemoSender">
        <plugin name="AnyPlaceMedia_SendSMS::send_sms" type="AnyPlaceMedia\SendSMS\Plugin\Entity\CreditmemoSMSSender" sortOrder="10"/>
    </type>
    <type name="Magento\Sales\Model\Order\Email\Sender\CreditmemoCommentSender">
        <plugin name="AnyPlaceMedia_SendSMS::send_sms" type="AnyPlaceMedia\SendSMS\Plugin\Comment\CreditmemoCommentSMSSender" sortOrder="10"/>
    </type>
</config>